.header__title-link {
    font-family: 'Roboto_slab-bold', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    cursor: url('../../../images/cursor-lapka.svg'), pointer;
    text-decoration: none;
}

@media screen and (max-width: 760px) {
    .header__title-link {
        font-size: 16px;
    }
}
