.about__text {
    margin: 0 0 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.about__text::selection {
    background-color: rgb(206, 255, 177);
    color: rgb(138, 43, 226);
}