.news-card-list__button {
    width: 288px;
    height: 64px;
    background-color: #fff;
    border: 0;
    border-radius: 80px;
    cursor: url('../../../images/cursor-lapka.svg'), pointer;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1B22;
}

.news-card-list__button:hover {
    background-color: #E8E8E8;
}

@media screen and (max-width: 1439px) {
    .news-card-list__button {
        width: 240px;
        height: 56px;
    }
}

@media screen and (max-width: 1450px) {
    .news-card-list__button {
        width: 288px;
    }
}
