.header__menu {
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media screen and (max-width: 760px) {
    .header__menu {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s linear;
        flex-direction: column;
        background-color: #1A1B22;
        width: 100%;
        position: absolute;
           top: 57px;
    }
}