.saved-news-title__user-details {
    margin: 0 0 30px;
    font-family: 'Roboto_slab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}