.search-form__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 32px 0 0;
}

@media screen and (max-width: 1450px) {
    .search-form__text {
        margin-top: 16px;
    }
}

@media screen and (max-width: 760px) {
    .search-form__text {
        margin: 16px 16px 122px;
    }
}