.navigation-menu__link {
    list-style: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: url(../../../images/cursor-lapka.svg), pointer;
}

@media screen and (max-width: 760px) {
    .navigation-menu__link {
        padding: 20px 0;
    }
}
