.footer__title {
    font-family: 'Roboto', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 0 104px;
    padding: 0;
    color: #B6BCBF;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1450px) {
    .footer__title {
        margin-left: 0;
        width: 300px;
    }
}

@media screen and (max-width: 760px) {
    .footer__title {
        margin: 0 auto 22px;
    }
}
