.saved-news-header {
    margin: 40px 104px 56px;
}

@media screen and (max-width: 1439px) {
    .saved-news-header {
        margin: 24px 40px 32px;
    }
}

@media screen and (max-width: 760px) {
    .saved-news-header {
        margin: 8px 16px 32px;
    }
}