.news-card__title {
    margin: 0 24px 16px;
    padding: 0;
    height: 60px;
    font-family: 'Roboto_slab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

@media screen and (max-width: 1450px) {
    .news-card__title {
        font-size: 22px;
        line-height: 24px;
        max-height: 50px;
    }
}

@media screen and (max-width: 760px) {
    .news-card__title {
        max-height: 48px;
        margin: 0 16px 14px;
    }
}
