.news-card__source {
    margin: 0 24px 24px;
    font-family: 'Roboto_slab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}