.about {
    margin: 80px 0;
    padding: 0;
    display: flex;
    justify-content: center;


    /* background-color: #ddd; */
    /* border: 2px solid rgba(255,0,0,0.5); */
}

@media screen and (max-width: 1450px) {
    .about {
        margin: 40px;
    }
}

@media screen and (max-width: 760px) {
    .about {
        margin: 32px 24px 128px;
        flex-direction: column;
    }
}
