.search-form__input {
    margin-left: 24px;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    border: 0;
    width: 250px;
}

.search-form__input:focus {
    outline: 0;
}

.search-form__input::placeholder {
    color: #B6BCBF;
}

@media screen and (max-width: 760px) {
    .search-form__input {
        margin: 0 auto 16px;
        padding: 0;
        width: 100%;
        height: 56px;
        background: #FFFFFF;
        border: 0;
        backdrop-filter: blur(8px);
        border-radius: 100px;
    }
}