.saved-news-header__title-link {
    font-family: 'Roboto_slab', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1A1B22;
    cursor: url('../../../images/cursor-lapka.svg'), pointer;
    text-decoration: none;
}