.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 25px;
    width: 176px;
    height: 48px;
    margin: auto 104px auto 0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: url(../../../images/cursor-lapka.svg), pointer;
}

@media screen and (max-width: 1439px) {
    .header__button {
        width: 152px;
        height: 40px;
        margin: 12px 40px 12px 0;
    }
}

@media screen and (max-width: 760px) {
    .header__button {
        width: 90%;
        margin: 0 16px 24px ;
        justify-content: space-around;
    }
}