.saved-news-header__open-mobile-menu {
    display: none;
}

@media screen and (max-width: 760px) {
    .saved-news-header__open-mobile-menu {
        display: block;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 0px solid #000;
        padding: 0;
        margin: auto 16px;
        cursor: url(../../../images/cursor-lapka.svg), pointer;
    }
}