.saved-news-header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #1A1B22;
    border-radius: 25px;
    height: 48px;
    padding: 0 0 0 19px;
    margin: auto 104px auto 0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    cursor: url(../../../images/cursor-lapka.svg), pointer;
}

@media screen and (max-width: 760px) {
    .saved-news-header__button {
        margin: 0 auto 24px;
        width: 95%;
        justify-content: space-around;
    }
}