.header__title {
    font-family: 'Roboto_slab', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 26px 104px;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: url('../../../images/cursor-lapka.svg'), pointer;
}

@media screen and (max-width: 1450px) {
    .header__title {
        margin-left: 40px;
    }
}