.news-card {
    width: 400px;
    max-height: 576px;
    margin: auto;
    background-color: #fff;
    border: 0;
    border-radius: 25px;
    position: relative;
}

.news-card:hover {
    box-shadow:  3px 3px 20px rgba(8, 29, 45, 0.1);
}

@media screen and (max-width: 1450px) {
    .news-card {
        max-width: 224px;
    }
}

@media screen and (max-width: 530px) {
    .news-card {
        max-width: 288px;
    }
}