.saved-news-header__title {
    margin: 30px 0 26px 104px;
    padding: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1450px) {
    .saved-news-header__title {
        margin: 23px 0 18px 40px;

    }
}

@media screen and (max-width: 760px) {
    .saved-news-header__title {
        margin: 16px 0 16px 16px;

    }
}
