.saved-news-header__user-details {
    margin: 0 0 30px;
    font-family: 'Roboto_slab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

@media screen and (max-width: 1439px) {
    .saved-news-header__user-details {
        font-size: 30px;
        line-height: 34px;
        max-width: 336px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 760px) {
    .saved-news-header__user-details {
        width: 100%;
        margin-bottom: 60px;
    }
}
